:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;

  --primary-font-family: 'Roboto', sans-serif; /**/
  --secondary-font-family: 'Raleway', sans-serif; /**/

  --primary-text-color: var(--color-slate);
  --secondary-text-color: var(--color-navy-blue);
  --primary-text-color-dark: var(--color-cornflower);
  --secondary-text-color-dark: white;
  --primary-background-color: white;
  --secondary-background-color-light: var(--color-cloud);
  --secondary-background-color-dark: var(--color-navy-blue);

  --logo-primary-color: var(--color-iris);
  --logo-secondary-color-dark: var(--color-navy-blue);
  --logo-secondary-color-light: var(--color-cloud);
  --accent-link-color: var(--color-ocean);
  --button-face-color: var(--color-iris);
  --button-accent-face-color: var(--color-ocean);
  --button-text-color: white;
  --button-filter-face-color: var(--color-cloud);
  --button-filter-text-color: var(--color-iris);
  --button-filter-border-color: var(--color-cornflower);
  --customer-logo-color: var(--color-light-slate);
  --modal-background-color: #fcfcfc;
  --backdrop-color: rgba(46, 47, 66, 0.4);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* included in normalize */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  color: var(--primary-text-color);
  font-size: 16px;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.hidden-element {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  min-width: 200px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.second-level-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.third-level-header {
  font-weight: inherit;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.text {
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1158px) {
  .text {
    font-weight: 400;
  }
}

/*  ================COMPONENT========== */
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-primary-color);
}
@media screen and (min-width: 768px) {
  .logo {
    align-self: center;
  }
}

.logo-studio-part {
  color: var(--logo-secondary-color-dark);
}

.social-network-list {
  display: flex;
}
.social-network-item-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.button-order {
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-size: inherit;

  color: var(--button-text-color);
  background-color: var(--button-face-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
  background-color: var(--button-accent-face-color);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--backdrop-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, 100vh);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 392px;
  height: 586px;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  overflow-y: auto;

  background-color: var(--modal-background-color);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12))
    drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2))
    drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 392px) {
  .modal {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    height: 586px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  fill: var(--color-navy-blue);
  background-color: var(--color-cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-item-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  color: white;
  background-color: var(--color-ocean);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.modal-form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-form-item:nth-child(-n + 4) {
  margin-bottom: 8px;
}

.modal-form-item:nth-child(5) {
  margin-bottom: 18px;
}
@media screen and (min-width: 1158px) {
  .modal-form-item:nth-child(5) {
    margin-bottom: 16px;
  }
}
.modal-form-item-text {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
}
.modal-form-checkbox-text {
  display: block;
  letter-spacing: 0.01em;
}
.modal-form-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form-item-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 18px;
  height: 24px;
  fill: var(--secondary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input {
  height: 40px;

  padding-left: 38px;
  background-color: inherit;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus,
.modal-form-item-message:focus {
  outline: none;
  border-color: var(--button-face-color);
}
.modal-form-input:focus + .modal-form-item-icon {
  fill: var(--button-face-color);
}
.modal-form-item-message {
  resize: none;
  height: 120px;
  padding: 8px 16px;
  background-color: inherit;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-item-message::placeholder {
  font-family: inherit;
  font-style: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-checkbox {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.modal-form-checkbox-label {
  margin-bottom: 24px;
}
.modal-form-checkbox-text {
  position: relative;
  padding-left: 24px;
}
.modal-form-checkbox-text:after {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='15' height='15' x='.5' y='.5' fill='%23404BBF' rx='1.5'/%3E%3Cpath fill='%23F4F4FD' d='M11.446 4.255A.917.917 0 0 1 13 4.901a.928.928 0 0 1-.242.649l-4.894 6.154a.921.921 0 0 1-1.019.229.918.918 0 0 1-.306-.204L3.293 8.466a.925.925 0 0 1-.226-1.024.925.925 0 0 1 .87-.578.916.916 0 0 1 .656.294L7.162 9.74l4.26-5.458a.311.311 0 0 1 .025-.027h-.001Z'/%3E%3Crect width='15' height='15' x='.5' y='.5' stroke='%23404BBF' rx='1.5'/%3E%3C/svg%3E");
  background-position: center center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox-text:before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--modal-background-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-text::after {
  opacity: 1;
}

.policy-ref {
  line-height: 1.33;
  color: var(--button-face-color);
}
.modal-form-submit {
  min-width: 169px;
  min-height: 56px;
  align-self: center;
  border-color: var(--button-face-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* ================ header ======================== */

.header .container {
  display: flex;
  align-items: center;
}
.header {
  padding-top: 24px;
  padding-bottom: 23px;
  border-bottom: 1px solid var(--button-filter-border-color);
}
.modal-menu-open {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
}
.modal-menu-close {
  display: none;
}
.header-navigation {
  vertical-align: center;
}

.header-menu {
  display: flex;
}

.header-menu-item-link {
  color: var(--secondary-text-color);
}

.mobile-menu-open-icon {
  display: block;
  width: 32px;
  height: 22px;
  stroke: var(--logo-secondary-color-dark);
}

.modal-contact-list {
  display: none;
}

.modal-menu .social-network-list {
  display: none;
}
.modal-menu .social-network-item-link {
  width: 40px;
  height: 40px;
  background-color: var(--color-iris);
}
.modal-menu .net-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-cloud);
}

@media screen and (max-width: 767px) {
  .modal-menu {
    position: fixed;
    top: -100vh;
    left: 50%;
    transform: translateX(-50%);
    /* scale: 0; */
    width: 100%;
    max-width: 428px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    visibility: hidden;

    padding-top: 80px;
    padding-left: 40px;
    padding-left: 24px;
    padding-bottom: 40px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }

  .modal-menu.is-open {
    visibility: visible;
    transform: translate(-50%, 100vh);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--color-cornflower);
  }

  .modal-menu-close-icon {
    width: 8px;
    height: 8px;
    fill: black;
  }

  .header-menu {
    flex-direction: column;
    gap: 40px;
  }

  .header-menu-item-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  .header-menu-item:last-child > .header-menu-item-link {
    color: var(--accent-link-color);
  }

  .modal-contact-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: inherit;
    margin-top: auto;
    margin-bottom: 8px;
  }
  .modal-contact-item-link {
    color: var(--color-iris);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }
  .modal-contact-item:last-child > .modal-contact-item-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: inherit;
  }
  .modal-menu .social-network-list {
    display: flex;
    gap: calc((100% - 220px) / 3);
  }

  .header-contact {
    display: none;
  }
  .modal-menu-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .header-contact {
    margin-left: auto;
  }
  .header-navigation {
    display: flex;
    gap: 120px;
  }

  .header-menu {
    display: flex;
    gap: 40px;
  }

  .header-contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-menu-item-link {
    display: block;
    padding-top: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active-page.header-menu-item-link {
    color: var(--accent-link-color);
  }
  .header-menu-item-link:hover,
  .header-menu-item-link:focus {
    color: var(--accent-link-color);
  }
  .header-menu-item-link::after {
    content: '';
    display: block;
    margin-top: 20px;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;
  }
  .active-page.header-menu-item-link::after {
    background-color: var(--accent-link-color);
  }

  .header-contact-item-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: inherit;
  }
  .header-contact-item-link:hover,
  .header-contact-item-link:focus {
    color: var(--accent-link-color);
  }
}

@media screen and (min-width: 1158px) {
  .header-contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contact-item-link {
    font-size: inherit;
  }
}
/* ==========================/header==================== */
/* ==========================/hero==================== */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  min-width: 200px;
  text-align: center;
  background-color: var(--secondary-background-color-dark);
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.overlay {
  width: 100%;
  max-width: 428px;
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/mobile-hero.jpg');
  background-position: center;
  background-size: 428px 432px;
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/mobile-hero@2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    max-width: 768px;
    height: 436px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tablet-hero.jpg');
    background-size: 768px 436px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/tablet-hero@2x.jpg');
  }
}
@media screen and (min-width: 1158px) {
  .overlay {
    max-width: 1440px;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office.jpg');
    background-size: 1440px 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office@2x.jpg');
  }
}

.hero .button-order {
  display: block;

  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;

  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-title {
  display: block;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-dark);
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
/* ===========================/hero======================== */
/* ===========================advences======================== */
.advences {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .advences {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.advences-list-item-icon {
  display: none;
}
@media screen and (min-width: 1158px) {
  .advences-list-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112px;
    margin-bottom: 8px;

    background-color: var(--logo-secondary-color-light);
  }
  .advences-icon {
    width: 64px;
    height: 64px;
  }
}
.advences-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media screen and (min-width: 768px) {
  .advences-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .advences-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .advences-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.advences-list-item-header {
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (max-width: 1157px) {
  .advences-list-item-header.third-level-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }
}

@media screen and (min-width: 768px) {
  .advences-list-item-header {
    text-align: left;
  }
}
/* ===============================/advences======================== */
/* ===========================We d0ing========================= */
.wedoing {
  display: none;
}
@media screen and (min-width: 1158px) {
  .wedoing {
    display: block;
    padding-bottom: 120px;
  }
  .wedoing-header {
    text-align: center;
    margin-bottom: 70px;
  }
  .wedoing-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .wedoing-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
/* ===========================/We d0ing========================= */
/* ===========================Our Team========================= */
.ourteam {
  padding-top: 96px;
  padding-bottom: 96px;
  min-width: 200px;
  background-color: var(--secondary-background-color-light);
}
.ourteam-header {
  text-align: center;
  margin-bottom: 72px;
}
.ourteam-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .ourteam-list {
    gap: 64px 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.ourteam-list-item {
  text-align: center;
  padding-bottom: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--primary-background-color);
}
.ourteam-person {
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
.ourteam-person-name {
  margin-bottom: 8px;
}
.ourteam-person-job {
  margin-bottom: 8px;
}
.ourteam .person-network-list {
  display: flex;

  justify-content: space-between;
}
.person-network-item {
  width: 40px;
  height: 40px;
}

.person-network-item-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  border-radius: 50%;
  background-color: var(--color-iris);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.person-network-item-link:hover,
.person-network-item-link:focus {
  background-color: var(--color-ocean);
}

.ourteam .net-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--secondary-background-color-light);
}

/* ===========================/Our Team========================= */

/* ===========================Customer========================= */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1158px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.customers-header {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
}

.customers-item-link {
  display: flex;
  width: 190px;
  height: 88px;
  justify-content: center;
  align-items: center;

  color: var(--customer-logo-color);
  border: 1px solid var(--customer-logo-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .customers-item-link {
    width: 168px;
    height: 88px;
  }
}
.customers-item-link:hover,
.customers-item-link:focus {
  color: var(--button-accent-face-color);
  border-color: var(--button-accent-face-color);
}

.icon {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .icon {
    width: 110px;
    height: 56px;
  }
}
/* ======================/customer=================== */
/* =====================PORTFOLIO==================== */
.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.portfolio-filters-button-list {
  max-width: 264px;
  display: flex;
  margin-right: auto;
  margin-bottom: 48px;
  gap: 16px 24px;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .portfolio-filters-button-list {
    max-width: none;
    justify-content: center;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-filters-button-list {
    margin-bottom: 72px;
  }
}

.portfolio-filters-button {
  display: block;
  padding: 7px 15px;

  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--button-filter-text-color);
  background-color: var(--button-filter-face-color);
  border: 1px solid var(--button-filter-border-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .portfolio-filters-button {
    padding: 12px 24px;
  }
}

.portfolio-filters-button:hover,
.portfolio-filters-button:focus,
.portfolio-filters-button:active {
  color: var(--button-text-color);
  background-color: var(--accent-link-color);
  border-color: var(--accent-link-color);

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .portfolio-filters-button:hover,
  .portfolio-filters-button:focus,
  .portfolio-filters-button:active {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.second-level-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}
.portfolio-list-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-link:hover,
.portfolio-list-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-imagenote {
  display: none;
}
@media screen and (min-width: 1158px) {
  .portfolio-list-item-tumb {
    position: relative;
    overflow: hidden;
  }
  .portfolio-list-item-imagenote {
    display: block;
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;

    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: var(--color-cloud);
    background-color: var(--color-iris);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item-link:hover .portfolio-list-item-imagenote,
  .portfolio-list-item-link:focus .portfolio-list-item-imagenote {
    transform: translateY(-100%);
  }
}
.portfolio-list-item-card {
  width: 100%;
  padding: 32px 16px;
  border-left: 1px solid var(--color-cornflower);
  border-bottom: 1px solid var(--color-cornflower);
  border-right: 1px solid var(--color-cornflower);
}

@media screen and (min-width: 768px) {
  .portfolio-list-item-image {
    width: 356px;
    height: 300px;
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list-item-image {
    width: 360px;
    height: 300px;
  }
}

.portfolio-list-item-header {
  margin-bottom: 8px;
}
.portfolio-list-item-type {
  font-weight: 400;
  color: var(--primary-text-color);
}

/* ======================footer=================== */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  min-width: 200px;
  background-color: var(--secondary-background-color-dark);
  color: var(--primary-text-color-dark);
}
@media screen and (min-width: 1158px) {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer > .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer > .container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 72px 24px;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 108px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1158px) {
  .footer > .container {
    padding-left: 0px;
    padding-right: 0;
    gap: 80px;
  }
}
.footer .logo {
  display: block;
  text-align: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .footer .logo {
    text-align: left;
  }
}
.footer .logo-studio-part {
  color: var(--logo-secondary-color-light);
}

.footer-text {
  font-weight: 400;
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.left-side-part {
  width: 268px;
}
@media screen and (min-width: 1158px) {
  .left-side-part {
    margin-right: 40px;
  }
}

.central-part-name {
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .central-part-name {
    text-align: left;
  }
}
.footer .social-network-list {
  gap: 16px;
}

.footer .social-network-item {
  width: 40px;
  height: 40px;
}

.footer .social-network-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-network-item-link:hover,
.footer .social-network-item-link:focus {
  background-color: var(--color-green);
}
.footer .net-icon {
  width: 24px;
  height: 24px;
  fill: var(--logo-secondary-color-light);
}
.right-side-part {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .right-side-part {
    align-items: flex-start;
    gap: 0px;
  }
}
@media screen and (min-width: 1158px) {
  .right-side-part {
    width: auto;
  }
}
.right-side-part-text {
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .right-side-part-text {
    margin-right: auto;
  }
}
.subscribe-form {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    gap: 24px;
    width: auto;
    flex-direction: row;
  }
  .subscribe-form-input {
    width: 268px;
  }
}

.subscribe-form-input {
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}

.subscribe-form-submit {
  position: relative;
  padding-left: 24px;
  width: 165px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;

  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: capitalize;
  border: none;
  border-radius: 4px;
}
.subscribe-form-submit::before {
  position: absolute;
  top: 50%;
  left: 117px;
  transform: translateY(-50%);
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23fff' d='M24 2 0 13.25l7.67 2.367L19.5 6.375l-8.998 10.116.007.003-.009-.003V22l4.301-4.182 5.45 1.682L24 2Z'/%3E%3C/svg%3E");
}
